/*universal*/
* {
	font-family: 'Mulish', sans-serif;
	
}

html {
	scroll-behavior: smooth;
}

/*header*/
header {
	background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
}

.socialsIcon {
	color: white;
	margin: .5rem;
	font-size: 1.5rem;
}

#top {
	height: 100vh;
}

/*info*/
#profile {
	filter: blur(5px);
}

#profile:hover {
	filter: none;
}

/*projects*/
}
#projects {
	height: 100vh;
}

.card {
}

.card:hover {
	animation-name: projectani;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes projectani {
	0% {bottom: 0px;}
	50% {bottom: 50px;}
	100% {bottom: 0px;}
}


/*tools*/
#tools img {
	width: 80px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border: 2px solid white;
}

#tools {
	background-image: url(https://images.pexels.com/photos/1587/blurred-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	
}

section div h3 {
	background-color: green;
	color: white;
}

@media (min-width: 320px) {
	#tools #frontend p {
		color: black;
	}
}

@media (min-width: 768px) {
	#tools #frontend p {
		color: white;
	}
}

/*contacts*/

#contact {
	background-image: url(https://images.pexels.com/photos/212324/pexels-photo-212324.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
#gmap_canvas {
	height: 80vh;
	width: 100%;
	padding: 2rem;
	border: 2px solid black;
	background-color: #D18EEA;
}

#adress {
	background-image: url(https://images.pexels.com/photos/6160163/pexels-photo-6160163.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#message {
	background-image: url(https://images.pexels.com/photos/7130564/pexels-photo-7130564.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*footer*/
footer div span a {
	color: white;
}

.fa-icons {
	color: white;
	margin: 1rem;
	font-size: 2rem;
}



